# node & build
node_modules/
dist/
.vite/

# system
.DS_Store
Thumbs.db

# VS Code
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
*.log
*.tmp

# environment files
.env
.env.*.local
cafe-facture-magie/